footer {
    height: 20vh;
    background-color: #313030;
   
      
      .icono {
        color: #f56e14;
      }
      
      .display-4 {
        font-size: 35px;
        font-family: fantasy;
        color: #f56e14;
      }
      
      .display-6 {
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
      }
      
      .lead {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
      }
}
